.inputContainer {
  display: flex;
  align-items: center;

  background-color: var(--gray-200);

  border-radius: 10px;

  color: var(--secondaryColor);

  width: 100%;
}

.inputContainer input {
  background: none;
  border: none;
  outline: none;

  width: 100%;

  padding: 16px;

  font-size: 16px;
  color: white;
}

.inputContainer input::placeholder {
  color: var(--secondaryColor);
}

.inputContainer svg {
  margin: 16px;
}

.newTag {
  border: 2px dashed var(--secondaryColor);
  background: none;
  color: var(--secondaryColor);
  flex-direction: row-reverse;
  width: 200px;
} 

.newTag svg {
  cursor: pointer;
}