.customButton  {
  width: 100%;
  background: var(--primaryColor);

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--gray-600);
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  border: none;
  outline: none;
  border-radius: 10px;

  padding: 16px;
}

.customButton svg {
  margin-right: 16px;
}