.customButton  {
  width: 100%;
  background: var(--primaryColor);

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--gray-600);
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  border: none;
  outline: none;
  border-radius: 10px;

  padding: 13px;
}

.customButton svg {
  margin-right: 16px;
}

.customButton.btnDashed {
  border: 2px dashed var(--secondaryColor);
  background: none;
  color: var(--secondaryColor);
  flex-direction: row-reverse;
}

.customButton.btnDashed svg {
  margin: 0 0 0 13px;
  color: var(--primaryColor);
}

.customButton.btnReverse {
  background-color: var(--gray-900);
  color: var(--primaryColor);
}