header {
  border-bottom: 1px solid var(--gray-700);
  display: flex;
  justify-content: center;
}

header div {
  grid-area: header div;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;

  width: 100%;
}

header div h1 {
  font-size: 24px;
  color: var(--primaryColor);
}

header div aside {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}

header div aside img {
  width: 64px;
  height: 64px;

  border-radius: 100%;
  border: 1px solid var(--gray-700);
}

header div aside > div {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: end;
}

header div aside strong {
  color: white;
  font-weight: bold;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
}

header div aside a {
  color: var(--secondaryColor);
  margin-top: 5px;
}