@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
  --primaryColor: #FF859B;
  --secondaryColor: #948F99;
  --gray: #CAC4CF;
  --gray-100: #999591;
  --gray-200: #262529;
  --gray-400: #1C1B1E;
  --gray-600: #312E38;
  --gray-700: #3E3B47;
  --gray-900: #0D0C0F;
  --main-font: "Roboto Slab", serif;
}

* {   
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--gray-400);
  font-family: var(--main-font);
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: var(--main-font);
  transition: .1s;
}

input:hover,
button:hover,
textarea:hover,
a:hover {
  opacity: .9;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}